<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guinness Chatter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="chat-container">
        <header>
            <h1>Guinness Chatter</h1>
            <button id="theme-toggle" aria-label="Toggle Dark Mode">
                <img id="theme-icon" src="{{ url_for('static', filename='images/sun-icon.png') }}" alt="Toggle Dark Mode">
            </button>
        </header>
        <div class="chat-box" id="chat-box">
            <!-- chat messages generate here -->
        </div>
        <div class="chat-input">
            <textarea id="user-input" placeholder="Type your message..."></textarea>
            <button id="send-btn">Send</button>
            <div id="spinner" class="spinner"></div>
        </div>
    </div>
    <div class="info-text">
        <p>Welcome to Guinness Chatter! Dive into the amazing world of Guinness Records and the stories of those who have challenged the limits of what's possible. Get ready to be inspired and astonished! </p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>